<header>
    <nav>
        <a href="/">Gralnia</a>
        <ul>
            <li><a href="/authors">Autorzy</a></li>
            <li><a href="/authors/new">Dodaj Autora</a></li>
            <li><a href="/books">Książki</a></li>
            <li><a href="/books/new">Dodaj książkę</a></li>
        </ul>
    </nav>
</header>