<header>
    <nav>
        <a href="/">Gralnia</a>
        <ul>
            <li><a href="/authors">Autorzy</a></li>
            <li><a href="/authors/new">Dodaj Autora</a></li>
        </ul>
    </nav>
</header>